<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Waves</key>
	<array>
		<dict>
			<key>DelayTime</key>
			<integer>1</integer>
			<key>spawns</key>
			<array>
				<dict>
					<key>Columns</key>
					<integer>3</integer>
					<key>Path</key>
					<integer>0</integer>
					<key>WaitTime</key>
					<integer>5</integer>
					<key>Spacing</key>
					<integer>40</integer>
					<key>Amount</key>
					<integer>6</integer>
					<key>Enemy</key>
					<string>BadMelee1</string>
				</dict>
			</array>
			<key>WaitTime</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>DelayTime</key>
			<integer>45</integer>
			<key>spawns</key>
			<array>
				<dict>
					<key>Columns</key>
					<integer>3</integer>
					<key>Path</key>
					<integer>0</integer>
					<key>WaitTime</key>
					<integer>5</integer>
					<key>Spacing</key>
					<integer>40</integer>
					<key>Amount</key>
					<integer>6</integer>
					<key>Enemy</key>
					<string>BadMelee1</string>
				</dict>
				<dict>
					<key>Columns</key>
					<integer>3</integer>
					<key>Path</key>
					<integer>1</integer>
					<key>WaitTime</key>
					<integer>15</integer>
					<key>Spacing</key>
					<integer>40</integer>
					<key>Amount</key>
					<integer>9</integer>
					<key>Enemy</key>
					<string>BadMelee1</string>
				</dict>
			</array>
			<key>WaitTime</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>DelayTime</key>
			<integer>45</integer>
			<key>spawns</key>
			<array>
				<dict>
					<key>Columns</key>
					<integer>3</integer>
					<key>Path</key>
					<integer>0</integer>
					<key>WaitTime</key>
					<integer>5</integer>
					<key>Spacing</key>
					<integer>40</integer>
					<key>Amount</key>
					<integer>6</integer>
					<key>Enemy</key>
					<string>BadMelee1</string>
				</dict>
				<dict>
					<key>Columns</key>
					<integer>3</integer>
					<key>Path</key>
					<integer>1</integer>
					<key>WaitTime</key>
					<integer>15</integer>
					<key>Spacing</key>
					<integer>40</integer>
					<key>Amount</key>
					<integer>6</integer>
					<key>Enemy</key>
					<string>BadArcher1</string>
				</dict>
			</array>
			<key>WaitTime</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
