<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WavePool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>WavePoolOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E721F0D91D889124006264D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E721F0E11D889124006264D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74F536B1C00EDA00050BA8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74F53751C00EDA10050BA8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
